section.hero-section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.hero-section h1.title {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  color: #112B3C;
}

section.hero-section h1.title span.name {
  color: #205375;
}


section.hero-section h3.description {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #112B3C;

}

section.hero-section p.summary {
  margin-bottom: 2rem;
  color: #374151;
}

button#resume-button {
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ffff;
  color: #205375;
  border-radius: 0.420rem;
  cursor: pointer;
  transition: 1000ms;
  transform: translateY(0);
  border: solid 2px #205375;

}

button#resume-button:hover {
  transition: 1000ms;
  transform: translateY(-0px);
  background-color: #205375;
  color: #ffff;
  border: solid 2px #ffff;
}

