@media print {
    .body {
        width: 21cm;
        height: 29.7cm;
    }

    .container {
        width: 90%;
        height: 90%;
        margin: 0;
        padding: 0;
    }

    section.beta-section {
        display: none;
    }

    .containerC {
        display: none;
    }

    div.print-photo img.photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        height: 6em;
        width: auto;

    }

}

* {
    font-family: sans-serif;
    list-style: none;
    list-style-position: outside;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;
    background-color: #fafafa;
}

.leftSide {
    margin: 1em;
}

div.print-photo img.photo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 6em;
    width: auto;
}

img.node,
img.react,
img.git,
img.java,
img.fire,
img.postgresql,
img.c,
img.python {
    height: 6em;
    width: auto;
    padding: 0.9em;
    margin-right: 1em;
}

img.tail {
    height: 3em;
}

img.docker {
    height: 4em;
}

.rightSide {
    margin: 1em;
}

div.BUT {
    background: #205375;
    border-radius: 2em;
}

div.ButContent {
    margin: 1em;
    padding: 1em;
}

.nom {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 600;
}

.goal {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
}

.rhythm {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
}

div.ButContentBack {
    margin: 1rem;
    padding: 1rem;
}

.goalBack {
    color: #112B3C;
    font-size: 0.3em;
    text-transform: uppercase;
    font-style: italic;
}

.rhythmBack {
    color: #112B3C;
    font-size: 0.3em;
    text-transform: uppercase;
    font-style: italic;
}

.titre {
    color: #112B3C;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 2em;
    letter-spacing: 0.2rem;
}

.text {
    color: #112B3C;
    font-size: 1.5em;
    padding-left: 0.3em;
}

.text2g {
    color: gray;
    font-size: 1.5em;
    text-transform: uppercase;
}

.textStatus {
    color: #112B3C;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 550;
    text-transform: uppercase;
}

.text2g hr {
    border-top: 0.1px dashed #EFEFEF;
    margin: 1.5em;
}

.front img.photo {
    height: 100%;
    width: auto;
    border-radius: 2rem;
}

section.beta-section {
    font-size: 4.5rem;
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.25em;
}

.containerC {
    width: 252px;
    height: 336px;
    perspective: 800px;
}

.containerC:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-size: 100%;
}

.back {
    background: linear-gradient(220deg, #A6B7A0 27%, #00BABD);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1300px) {
    .container {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .nom {
        font-size: 2em;
    }

    .goal {
        font-size: 1.1em;
    }

    .rhythm {
        font-size: 0.7em;
    }


}