* {
    font-family: sans-serif;
    list-style: none;
    list-style-position: outside;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;
    background-color: #fafafa;
}

img.photo {
    border-radius: 2em;
    height: 21em;
    width: auto;
    position: relative;
    left: 3em;
    margin: 1em;
}
.leftSide {
    margin: 1em;
}

img.html, img.css, img.js, img.c, img.java, img.python, img.postgresql, img.fire, img.git {
    height: 6em;
    width: auto;
    padding: 0.9em;
    margin-right: 1em ;
}
img.tail{
    height: 3em;
}
img.docker{
    height: 4em;
}
.rightSide {
    margin: 1em;
}

div.BUT {
    background: #205375;
    border-radius: 2em;
}

div.ButContent {
    margin: 1em;
    padding: 1em;
}

.nom {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 600;
}

.goal {
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-style: italic;
}

.rhythm {
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-style: italic;
}

.titre {
    color: #112B3C;
    text-transform: uppercase;
    font-weight: 750;
    font-size: 2em;
    letter-spacing: 0.2rem;
}

.text {
    color: #112B3C;
    font-size: 1.5em;
    padding-left: 0.3em;
}

.text2g {
    color: gray;
    font-size: 1.5em;
    text-transform: uppercase;
}

.textStatus {
    color: #112B3C;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 550;
    text-transform: uppercase;
}
.text2g hr{
    border-top: 0.1px dashed #EFEFEF;
    margin: 1.5em;
}

@media screen and (max-width:1300px) {
    .container {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .leftSide img {
        position: relative;
        left: 5em;
        height: 15em;
        width: auto;
    }

    .nom {
        font-size: 2em;
    }

    .goal {
        font-size: 1.1em;
    }

    .rhythm {
        font-size: 0.7em;
    }
    img{
        display: none;
    }
}